<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.mapper.EntMapper">

    <resultMap id="BaseResultMap" type="com.digital.model.entity.Ent">
            <id property="id" column="id" />
            <result property="kidId" column="kid_id" />
            <result property="leftHearing" column="left_hearing" />
            <result property="rightHearing" column="right_hearing" />
            <result property="sinusCondition" column="sinus_condition" />
            <result property="tonsilCondition" column="tonsil_condition" />
            <result property="throatCondition" column="throat_condition" />
            <result property="recommendation" column="recommendation" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,kid_id,left_hearing,right_hearing,sinus_condition,tonsil_condition,
        throat_condition,recommendation,create_time,update_time
    </sql>
</mapper>
