<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.mapper.KidHeadMapper">

    <resultMap id="BaseResultMap" type="com.digital.model.entity.KidHead">
            <id property="headId" column="head_id" />
            <result property="kidId" column="kid_id" />
            <result property="hairColor" column="hair_color" />
            <result property="eyeColor" column="eye_color" />
            <result property="leftEyeDegree" column="left_eye_degree" />
            <result property="rightEyeDegree" column="right_eye_degree" />
    </resultMap>

    <sql id="Base_Column_List">
        head_id,kid_id,hair_color,eye_color,left_eye_degree,right_eye_degree
    </sql>
</mapper>
