<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.mapper.LeftArmMapper">

    <resultMap id="BaseResultMap" type="com.digital.model.entity.LeftArm">
            <id property="id" column="id" />
            <result property="kidId" column="kid_id" />
            <result property="gripStrength" column="grip_strength" />
            <result property="elbowRangeOfMotion" column="elbow_range_of_motion" />
            <result property="tinelSign" column="tinel_sign" />
            <result property="circumferenceDifference" column="circumference_difference" />
            <result property="recommendation" column="recommendation" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,kid_id,grip_strength,elbow_range_of_motion,tinel_sign,circumference_difference,
        recommendation,create_time,update_time
    </sql>
</mapper>
