<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.mapper.RightLegMapper">

    <resultMap id="BaseResultMap" type="com.digital.model.entity.RightLeg">
            <id property="rightLegId" column="right_leg_id" />
            <result property="kidId" column="kid_id" />
            <result property="legLength" column="leg_length" />
    </resultMap>

    <sql id="Base_Column_List">
        right_leg_id,kid_id,leg_length
    </sql>
</mapper>
